<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenge 21</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link  href="/fontawesome/css/all.css" rel="stylesheet">
</head>
<style>
    * {
        box-sizing: border-box;
    }

    .pagination {
        display: inline-block;
    }

    .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: rgb(6, 240, 37);
    }

    .pagination a.active {
        background-color: #1707fd;
        color: white;
        border: 1px solid #0004e6;
        border-radius: 12px;
    }

    input[type=text],
    select,
    textarea {
        width: 100%;
        padding: 9px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    label {
        padding: 2px 2px 2px 2px;

        /* display: inline-block; */
    }

    input[type=submit] {
        background-color: #0019fa;
        color: white;
        padding: 9px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: left;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }

    input[type=number],
    select,
    textarea {
        width: 100%;
        padding: 9px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    input[type=date],
    select,
    textarea {
        width: 100%;
        padding: 9px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    input[type=boolean],
    select,
    textarea {
        width: 100%;
        padding: 9px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    .container {
        border-radius: 5px;
        padding: 20px;
    }

    .col-25 {
        float: left;
        width: 10%;
        margin-top: 2px;
    }

    .col-75 {
        float: right;
        width: 90%;
        margin-top: 2px;
    }

    .col-30 {
        float: left;
        width: 30%;
        margin-top: 2px;
    }

    .col-30right {
        float: right;
        width: 35%;
        margin-top: 2px;
    }

    .colmid {
        width: 10%;
        margin-top: 2px;
        float: none;
    }

    .colright {
        width: 10%;
        margin-top: 2px;
        float: right;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {

        .col-25,
        .col-75,
        input[type=submit] {
            width: 100%;
            margin-top: 0;
        }
    }

    h1 {
        color: crimson;
    }

    .button {
        border: navy;
        color: white;
        padding: 15px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 10px 5px;
        cursor: pointer;
        border-radius: 12px;
    }

    .buttonedit {
        padding: 8px 16px;
        border-radius: 12px;
        background-color: rgb(0, 238, 20);
        font-size: small;
        border: 2px solid rgb(6, 240, 37);
        cursor: pointer;
        font-style: oblique;
    }

    .buttondelete {
        padding: 8px 16px;
        border-radius: 12px;
        background-color: red;
        font-size: small;
        border: 2px solid rgb(245, 5, 5);
        cursor: pointer;
        font-style: oblique;
    }

    .button1 {
        background-color: rgb(44, 44, 196);
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th,
    td {
        text-align: left;
        padding: 16px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>

<body>
    <h1>
        <div>BREAD</div> (Browse, Read, Edit, Add, Delete)
    </h1>
    <p>
    <h2> filter</h2>
    </p>
    <div class="container">
        <form action="" method="get">
            <input type="hidden" name="page" value="1">
            <div class="row">
                <div class="col-25">
                    <input type="checkbox" name="stringCB" id="stringCB" >
                    <label for="stringCB">String </label>
                </div>
                <div class="col-75">
                    <input type="text" name="string" id="string" placeholder="Masukkan String" value="<%= query.string%>">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-25">
                    <input type="checkbox" name="integerCB" id="integerCB" >
                    <label for="integer">Integer </label>
                </div>
                <div class="col-75">
                    <input type="number" name="integer" placeholder="Masukkan integer" value="<%= query.integer%>">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-25">
                    <input type="checkbox" name="floatCB" id="floatCB">

                    <label for="float">Float </label>

                </div>
                <div class="col-75">
                    <input type="number" name="float" step="any" placeholder="Masukkan float" value="<%= query.float%>">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-25">
                    <input type="checkbox" name="dateCB" id="dateCB">
                    <label for="date">Tanggal </label>
                </div>
                <div class="col-30">
                    <input class="col-30" type="date" name="datestart" placeholder="Masukkan Tanggal" value="<%= query.datestart%>">
                    <h5 class="colmid">start date</h5>
                </div>

                <div class="col-30right">
                    <input class="col-30right" type="date" name="dateend" placeholder="Masukkan Tanggal" value="<%= query.dateend%>">
                    <h5 class="colright">end date</h5>
                </div>

            </div>

            <br>
            <div class="row">
                <div class="col-25">
                    <input type="checkbox" name="booleanCB" id="booleanCB" >

                    <label for="boolean">Boolean </label>
                </div>
                <div class="col-75">
                    <select name="boolean" placeholder="Masukkan Boolean">
                        <option value="">--Choose The Boolean--</option>
                        <option value="true">True</option>
                        <option value="false" %> >False</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="row">
                <input type="submit"></input>

            </div>
            <button class="btn" type="button" onclick="location.href = '/'">Reset</button>

            <br>
        </form>
    </div>
    <table class= "table-primary" style="width: 100%" border="1">
        <tr >
            <th>
                <a href="<%= url.replace(`sortBy=${query.sortBy}`, `sortBy=_id`).replace(`sortMode=${query.sortMode}`,`sortMode=${query.sortMode == 'asc'? 'desc':'asc'}`) %>">

                <i class="fa-solid fa-<%= query.sortBy == '_id' ? query.sortMode == 'asc'? 'sort-up' :'sort-down' : 'sort'%>"></i>ID
            </th>
            <th>
                <a href="<%= url.replace(`sortBy=${query.sortBy}`, `sortBy=_string`).replace(`sortMode=${query.sortMode}`,`sortMode=${query.sortMode == 'asc'? 'desc':'asc'}`) %>">

                <i class="fa-solid fa-<%= query.sortBy == '_string' ? query.sortMode == 'asc'? 'sort-up' :'sort-down' : 'sort'%>"></i>String
            </th>
            <th>
                <a href="<%= url.replace(`sortBy=${query.sortBy}`, `sortBy=_integer`).replace(`sortMode=${query.sortMode}`,`sortMode=${query.sortMode == 'asc'? 'desc':'asc'}`) %>">
                <i class="fa-solid fa-<%= query.sortBy == '_integer' ? query.sortMode == 'asc'? 'sort-up' :'sort-down' : 'sort'%>"></i>Integer
            </th>
            <th>
                <a href="<%= url.replace(`sortBy=${query.sortBy}`, `sortBy=_float`).replace(`sortMode=${query.sortMode}`,`sortMode=${query.sortMode == 'asc'? 'desc':'asc'}`) %>">
                <i class="fa-solid fa-<%= query.sortBy == '_float' ? query.sortMode == 'asc'? 'sort-up' :'sort-down' : 'sort'%>"></i>Float
            </th>
            <th>
                <a href="<%= url.replace(`sortBy=${query.sortBy}`, `sortBy=_date`).replace(`sortMode=${query.sortMode}`,`sortMode=${query.sortMode == 'asc'? 'desc':'asc'}`) %>">
                <i class="fa-solid fa-<%= query.sortBy == '_date' ? query.sortMode == 'asc'? 'sort-up' :'sort-down' : 'sort'%>"></i>Date
            </th>
            <th>
                <a href="<%= url.replace(`sortBy=${query.sortBy}`, `sortBy=_boolean`).replace(`sortMode=${query.sortMode}`,`sortMode=${query.sortMode == 'asc'? 'desc':'asc'}`) %>">
                <i class="fa-solid fa-<%= query.sortBy == '_boolean' ? query.sortMode == 'asc'? 'sort-up' :'sort-down' : 'sort'%>"></i>Boolean</th>
            <th>actions</th>
        </tr>

        <% rows.forEach((item,index)=>{ %>


            <tr>
                <td>
                    <%= item._id %>
                </td>
                <td>
                    <%= item._string %>
                </td>
                <td>
                    <%= item._integer%>
                </td>
                <td>
                    <%= item._float%>
                </td>
                <td>
                    <%= item._date ? moment(item._date).format("MMMM Do YYYY") : 'kosong' %>
                </td>
                <td>
                    <%= item._boolean%>
                </td>
                <td>
                    <button button class="buttonedit" type="button"
                        onclick="location.href = '/edit/<%=item._id%>'">edit</button>
                    <button button class="buttondelete" type="button"
                        onclick="location.href = '/delete/<%=item._id%>'">Delete</button>

                </td>
            </tr>

            <% }) %>

    </table>
    <br>
    <button class="btn btn-primary btn-lg" type="button" onclick="location.href = '/add'">add</button>
    <br>
    <br>
    <div class="pagination">
        <a href="/?page=<%= page > 1 ? page-1 : 1%>">&laquo;</a>
        <% for (let i=1 ; i <=pages; i++){ %>


            <a class="<%= page == i ? 'active' : ''%>" href="<%= url.replace(`page=${page}`, `page=${i}`) %>">
                <%=i%>
            </a>

            <% } %>
                <a href="/?page=<%= page < pages? parseInt(page)+1: pages %>">&raquo;</a>
    </div>

</body>

</html>